.wellcome-text {
    margin: 20px 0px 20px 0px;
    color: #fff;
    font-size: 30pt;
    text-align: center;
}

.wellcome-text h1 {
    margin: 0 auto;
    background-color: #6C63FF;
    padding: 20px;
    border-radius: 0.25rem;
    width: 500px;
}

.wellcome-text h1 a {
    text-decoration: none;
    color: #fff;
}

.wellcome-text h1 a:hover {
    text-decoration: dashed;
    color: #3F3D56;
}

.container {
    display: flex;
    justify-content: space-around;
}

#add-task-group {
    transform: translate(50%, -5px);
    width: 50%;
}

#basic-addon2 {
    background-color: #6C63FF;
    color: #fff;
}

#basic-addon2:hover {
    cursor: pointer;
}

#taskDesc {
    background-color: #3F3D56;
    color: #fff;
}

.task-info {
    display: none;
    padding: 10px;
    border-radius: 0.25rem;
    width: 50%;
    transform: translate(50%);
    text-align: center;
    font-size: 30px;
}

#current_task_info {
    color: #3F3D56;
    background-color: #fff;
}

#completed_task_info {
    color: #fff;
    background-color: #6C63FF;
}

#trashed_task_info {
    color: #fff;
    background-color: #FF6363;
}
